<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monda">
<title>{% block title %}Welcome{% endblock %} — DataVis_DSA2017</title>
<body>
  <header>
    <h1>DataVis_DSA2017</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/index.html'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/design-process/index.html', 'Design Process'],
          ['/practical/index.html', 'Practical'],
          ['/useful-links/index.html', 'Useful links']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  
  <section class="page">
    {% block body %}{% endblock %}
  </section>
  
  <footer>
    &copy; Copyright 2017 by Athanasios Anastasiou.
  </footer>
</body>
