body{
    width:50em;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Monda', sans-serif;
}

body>h1:first-of-type{
    text-align:center;
}

.figure{
    text-align:center;
}


.figure>img{
    width:512px;
}

.figure>.caption{
    text-align:center;
    font-size:smaller;
    font-weight:bold;
    font-style:italic;
}

p{
    line-height:1.7em;
    text-align:justify;
}

iframe{
    width:100%;
    height:40em;
}

.toc{
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    word-wrap: break-word;
    width:15em;
}

.toc>ul{
    list-style-type:none;    
}

.author{
    text-align:center;
    font-style:italic;
}
