body {
    font-family: 'Monda', 'Verdana', sans-serif;
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

body>header{
}

body>footer{
    text-align:center;
}

header>h1 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header>nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header>nav>ul>li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

header>nav>ul>li>a {
    text-decoration:none;
}

header>nav>ul>li>a:hover {
    text-decoration:underline;
}
